body::before {
    content: ""; 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-image: url('assets/fonts/font.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: -1; 
}

.contenedor > div {
    background-color: #f1f1f1; 
    width: 90%; 
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 20px;
    border-radius: 10px; 
    color: rgb(0, 0, 0);
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: #6e6e6e;
}

.card {
    background-color: #15202b;
    border: 1px solid black;
    color: rgb(255, 255, 255);
}

.btn-primary {
    background-color:#0a66c2;
    border-color: #0008a8;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #0655a4;
    border-color: #0655a4;
}
